body {
    background-color: #c3d7e0;
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    gap: 20px;
}
.navbar {
    
    text-align: center;
    padding: 20px;
}
.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #3806ee;
}
.title {
    font-size: 50px;
    animation: fadeIn 2s ease;
    @keyframes fadeIn {
        from {
             opacity: 0;
            transform: translateY(30px); }
        to {
            opacity: 1;
            transform: translateY(0); }
    }
}
.button {
    background-color: #2563eb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
}